.Rproj.user
.Rhistory
.RData
.Ruserdata
packages/
cluster*
output/
context/
tables_old_params/
outputs_old_params/
plots_old_params/
output_old_params/
between_country_optim_outputs/
optim_dataframes/
